{% extends 'layout.twig' %}
{% block title %}{{ 'DocumentsList'|trans }}{% endblock %}

{% block content %}
<div id="layout" class="content pure-g">

    <div id="nav" class="pure-u">
    </div>

    <div id="list" class="pure-u-1">
    </div>

    <div id="main" class="pure-u-1">
    </div>
</div>



{% endblock %}

{% block closing_scripts %}
<script type="text/template" id="ed-list-item">
<div id="file-<%- id %>" class="email-item <%= !encrypt ? 'email-item-unread' : '' %> <%= active ? 'email-item-selected' : '' %> pure-g">

    <div class="pure-u" style="display:none;">
        <img class="email-avatar" alt="Tilo Mitra&#x27;s avatar" height="64" width="64" src="img/common/tilo-avatar.png" />
    </div>

    <div class="pure-u-3-4">
        <h5 class="email-name"><%= !authors ? '<em class="empty">{{ "EmptyTitle"|trans }}</em>' : authors %></h5>
        <h4 class="email-subject"><%= !title ? '<em class="empty">{{ "EmptyAuthors"|trans }}</em>' : title %></h4>
        <p class="email-desc"><%= !desc ? '<em class="empty">{{ "EmptyDesc"|trans }}</em>' : desc %></p>
    </div>
</div>
</script>

<script type="text/template" id="ed-detail">
<div class="email-content-header pure-g">
    <div class="pure-u-1">
        <form class="pure-form" id="ed-form-decrypt">
            <input type="password" placeholder="{{ 'PassphrasePlaceholder'|trans }}" class="pure-u-3-4" />
            <button type="submit" class="pure-button button-success">{{ 'DecryptButton'|trans }}</button>
        </form>
    </div>

    <div class="pure-u-1">
        <h1 class="email-content-title"><%= !title ? '{{ "EmptyTitle"|trans }}' : title %></h1>
        <p class="email-content-subtitle">
            {{ 'From'|trans }} <%= !authors ? '{{ "EmptyAuthors"|trans }}' : authors.join(', ') %>, {{ 'UpdatedAt'|trans }} <span><%= moment(updated_at).fromNow() %></span><br />
            <%= !desc ? '{{ "EmptyDesc"|trans }}' : desc %>
        </p>
    </div>
</div>

<div class="email-content-body">
    <% if (!encrypt) { %>
        <button id="ed-button-edit" class="pure-button button-warning">{{ 'EditButton'|trans }}</button>
    <% } %>
    <%= content %>
</div>
</script>

<script type="text/template" id="ed-edit">
<div class="email-content-header pure-g">
    <div class="pure-u-1">
        <form class="pure-form" id="ed-form-save">
            <input type="password" placeholder="{{ 'PassphrasePlaceholder'|trans }}" class="pure-u-3-4" />
            <button type="submit" id="ed-button-save" class="pure-button button-success">{{ 'SaveButton'|trans }}</button>
        </form>
    </div>

    <div class="pure-u-1">
        <input type="text" id="ed-edit-title" placeholder="{{ "EmptyTitle"|trans }}" class="email-content-title" value="<%- title %>" />
        <p class="email-content-subtitle">
            {{ 'From'|trans }} <input type="text" id="ed-edit-authors" placeholder="{{ "EmptyAuthors"|trans }}" value="<%= !authors ? '' : authors.join(', ') %>" /><%= updated_at ? ", {{ 'UpdatedAt'|trans }} <span>" + moment(updated_at).fromNow() + "</span>" : ""%><br />
            <input type="text" id="ed-edit-desc" placeholder="{{ "EmptyDesc"|trans }}" value="<%- desc %>" />
        </p>
    </div>
</div>


<div class="email-content-body">
    <button id="ed-button-cancel" class="pure-button button-secondary">{{ 'CancelButton'|trans }}</button>
    <textarea id="ed-edit-content"><%= content %></textarea>
</div>
</script>

<script type="text/template" id="ed-toolbar">
<a href="#" class="nav-menu-button">{{ 'Menu'|trans }}</a>

<div class="nav-inner">
    <button class="primary-button pure-button" id="ed-new-trigger">{{ 'Compose'|trans }}</button>

    <div class="pure-menu" style="display:none">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li>
            <li class="pure-menu-heading">Labels</li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Personal</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li>
        </ul>
    </div>
</div>
</script>
{% endblock %}